// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

main {
  max-width: 960px;
  margin: 0 auto;
}

header {
  background-color: rgba(244, 244, 244, 1);
  text-align: center;
  padding: 2em;
}

header img {
  max-width: 96px;
}

header h1 {
  font-size: 2.5em;
}

footer {
  background: #f4f4f4;
}

h1, h2 {
  text-align: center;
}

label {
  display: block;
  padding: 1em;
  margin-right: 1em;
  font-weight: bold;
  font-size: 1.5em;
}

.new-member-form {
  margin: 2em 0 4em 0;
  text-align: center;
}

.member-item {
  list-style: none;
  padding: 0 10px 0 10px;
}

footer {
  margin-top: 0;
  text-align: center;
  color: #fff;
  background: #f76c6c;
  padding: 0.25em 0;
  width: 100%;
}

.form-center {
  text-align: center;
  padding-bottom: 10px;
}

.member-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.table-members {
 background-color: rgba(244, 244, 244, 1);
 padding: 10px 10px 10px 0;
 margin: 10px 50px 10px 50px;
}
