<%= simple_form_for(@member) do |f| %>
  <div class="form-center">
    <%= f.input :name, label: "Ajouter un(e) Argonaute", placeholder: 'Charalampos'%>
    <%= f.button :submit, "créer" %>
  </div>
<% end %>
